document.getElementById("content").innerHTML ="<h5 class='card-header' id='noselection'> Selectionnez un email </h5>";
document.getElementById("emails_list").innerHTML ="<%= j render 'emails_list'%>";


