<container>
	 <%= form_tag(emails_path, method: "post", class: "form", remote: true)  do %>
	 <%= submit_tag("Recevoir un email", class: "btn btn-start-order") %>
	 <%end%>
<div class="row">
	<div class="col-3">
		<h1> Voici la liste des emails </h1>
		<ul id="emails" >
			  <% @emails.each do |email|  %>
			    <li id="<%=email.id%>">
			      <%= link_to email.object, email_path(email.id), remote: true%>
			    </li>
			  <% end %>
		</ul>
	</div>
	<div class="col-6" id="content">
	</div>
</div>
</container>