<container>
	<h1 class="text-center mb-4">Welcome to your email box</h1>
	<div class="row justify-content-center">
		 <%= form_tag(emails_path, method: "post", class: "form", remote: true)  do %>
		 <%= submit_tag("Recevoir un email", class: "btn btn-start-order bg-light") %>
		 <%end%>
	</div>
	<div class="row justify-content-center">
		<div class="col-3 p-0">
			<h5 class="card-header"> Voici la liste des emails </h5>
			<div id="emails_list" class="card-body">
				<%= render 'emails_list' %>
			</div>
		</div>
		<div class="col-6 p-0" id="content">
			<h5 class="card-header" id="noselection"> Selectionnez un email </h5>
		</div>
	</div>
</container>